$tablet-width: 768px;
$smalldesktop-width: 960px;
$desktop-width: 1200px;
$mediumdesktop-width: 1440px;
$largedesktop-width: 1600px;


@media (min-width: $largedesktop-width) {
  .g-body {
    max-width: $largedesktop-width;
  }

  .g-body .g-main-content, .g-upper-body, .g-footer {
    max-width: 1040px;
  }

  .g-body .g-left-panel {
    width: 220px;
  }
}


@media (min-width: $mediumdesktop-width) and (max-width: $largedesktop-width - 1) {

  .g-body {
    max-width: 1380px;
  }

  .g-body .g-main-content, .g-upper-body, .g-footer {
    max-width: 850px;
  }

  .g-body .g-left-panel {
    width: 220px;
  }
}


@media (min-width: $desktop-width) and (max-width: $mediumdesktop-width - 1) {

  .g-body {
    max-width: 1380px;
  }

  .g-body .g-main-content, .g-upper-body, .g-footer  {
    max-width: 850px;
    margin-left: 270px;
    margin-right: auto;
  }

  .g-body .g-left-panel {
    width: 220px;
  }
}


@media (min-width: $smalldesktop-width) and (max-width: $desktop-width - 1) {
  .g-body .g-left-panel {
    display: none;
  }

  .g-body {
    max-width: 960px;
  }

  .g-body .g-main-content, .g-upper-body  {
    max-width: 960px;
  }
}

@media (min-width: $tablet-width) and (max-width: $smalldesktop-width - 1) {
  .g-body .g-left-panel {
    display: none;
  }

  .g-body {
    max-width: 960px;
  }

  .g-body .g-main-content, .g-upper-body, .g-footer {
    max-width: 960px;
  }
}


@media (max-width: $tablet-width) {
  .g-body .g-left-panel {
    display: none;
  }

  .g-body {
    max-width: 100%;
  }

  .g-body .g-main-content, .g-footer {
    max-width: 100%;
  }
}
